<a href="https://colab.research.google.com/github/SilverWithA/mini_porject_MLops/blob/main/randomForest.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import csv
import random

def split_csv(input_file, output_file1, output_file2, split_ratio):
    with open(input_file, 'r') as file:
        reader = csv.reader(file)
        header = next(reader)  # 헤더를 읽어옵니다.

        # 출력 파일들을 열고 헤더를 씁니다.
        with open(output_file1, 'w', newline='') as file1, open(output_file2, 'w', newline='') as file2:
            writer1 = csv.writer(file1)
            writer1.writerow(header)
            writer2 = csv.writer(file2)
            writer2.writerow(header)

            data = list(reader)

            split_index = int(len(data) * split_ratio)  # 분할 기준 인덱스 계산

            random.shuffle(data)  # 데이터를 무작위로 섞습니다.

            for i, row in enumerate(data):
                if i < split_index:  # 80%를 첫 번째 파일에 저장
                    writer1.writerow(row)
                else:  # 나머지 20%를 두 번째 파일에 저장
                    writer2.writerow(row)

    print("CSV 파일이 분할되었습니다.")

# CSV 파일 분할을 위한 예시 호출
split_csv('/content/drive/MyDrive/temp_new2.csv', '/content/drive/MyDrive/temp_train3.csv', '/content/drive/MyDrive/temp_test3.csv', 0.8)

CSV 파일이 분할되었습니다.

In [ ]:
import pandas as pd
train = pd.read_csv('/content/drive/MyDrive/temp_train3.csv')
train = train.drop_duplicates()

test= pd.read_csv('/content/drive/MyDrive/temp_test3.csv')
test = test.drop_duplicates()

In [ ]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1431337 entries, 0 to 2013762
Data columns (total 29 columns):
 #   Column                      Non-Null Count    Dtype
---  ------                      --------------    -----
 0   USER_ID_hash                1431337 non-null  object
 1   REG_DATE                    1431337 non-null  object
 2   SEX_ID                      1431337 non-null  object
 3   AGE                         1431337 non-null  int64
 4   Tr_Pref_Name                1163195 non-null  object
 5   Tr_small_area_name          1431337 non-null  object
 6   Translated_capsule_text     1431337 non-null  object
 7   Translated_genre_name       1431337 non-null  object
 8   VIEW_COUPON_ID_hash         1431337 non-null  object
 9   usable_date_sum             1431337 non-null  int64
 10  view_count                  1431337 non-null  int64
 11  PRICE_RATE                  1431337 non-null  int64
 12  DISCOUNT_PRICE              1431337 non-null  int64
 13  VALIDPERIOD                 1431337 non-null  int64
 14  DISPPERIOD                  1431337 non-null  int64
 15  PURCHASE_FLG                1431337 non-null  int64
 16  dispfrom                    1431337 non-null  object
 17  dispend                     1431337 non-null  object
 18  usable_date_mon             1431337 non-null  int64
 19  usable_date_tue             1431337 non-null  int64
 20  usable_date_wed             1431337 non-null  int64
 21  usable_date_thu             1431337 non-null  int64
 22  usable_date_fri             1431337 non-null  int64
 23  usable_date_sat             1431337 non-null  int64
 24  usable_date_sun             1431337 non-null  int64
 25  usable_date_holiday         1431337 non-null  int64
 26  usable_date_before_holiday  1431337 non-null  int64
 27  Male                        1431337 non-null  int64
 28  Female                      1431337 non-null  int64
dtypes: int64(19), object(10)
memory usage: 327.6+ MB

In [ ]:
# train[COL_CAT].head()

In [ ]:
# train.head()

In [ ]:
y_train=train[['Translated_genre_name']]

X_train =train.drop(['VIEW_COUPON_ID_hash'],1)
X_test = test.drop(['VIEW_COUPON_ID_hash' ],1)

<ipython-input-34-935c0da0af74>:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  X_train =train.drop(['VIEW_COUPON_ID_hash'],1)
<ipython-input-34-935c0da0af74>:4: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  X_test = test.drop(['VIEW_COUPON_ID_hash' ],1)

In [ ]:
#상관관계 그래프 그리기
# import pandas as pd
# import seaborn as sns
# import matplotlib.pyplot as plt

# data = train
# correlation_matrix = data.corr()

# plt.figure(figsize=(8, 6))
# sns.heatmap(correlation_matrix, annot=True, cmap='RdYlBu', fmt=".1f", linewidths=0.5, xticklabels=True, yticklabels=True, annot_kws={"fontsize": 8})
# plt.title('Correlation Heatmap')
# plt.xticks(rotation=45, ha='right', fontsize=8)
# plt.yticks(rotation=0, fontsize=8)
# plt.tight_layout(pad=1.0)

# plt.savefig('correlation_heatmap.png', dpi=300)

In [ ]:
# import numpy as np

# # 상관관계 행렬 계산
# corr_matrix = train.corr().abs()

# # 상관계수가 높은 변수 제거
# threshold = 0.8  # 상관계수 임계값 설정

# # 다중 공선성이 있는 변수 선택 및 제거
# upper_triangle = np.triu(np.ones(corr_matrix.shape), k=1).astype(bool)
# high_correlation_cols = [column for column in corr_matrix.columns if any(corr_matrix.loc[upper_triangle, column] > threshold)]
# train2 = train.drop(high_correlation_cols, axis=1)

In [ ]:
# corr_matrix2 = test.corr().abs()

# # 상관계수가 높은 변수 제거
# threshold = 0.8  # 상관계수 임계값 설정

# # 다중 공선성이 있는 변수 선택 및 제거
# upper_triangle = np.triu(np.ones(corr_matrix2.shape), k=1).astype(bool)
# high_correlation_cols = [column for column in corr_matrix2.columns if any(corr_matrix2.loc[upper_triangle, column] > threshold)]
# test2 = test.drop(high_correlation_cols, axis=1)

In [ ]:
# test.head()

In [ ]:
#nan 렬 삭제하기
train.dropna(inplace=True)
test.dropna(inplace=True)

Index(['USER_ID_hash', 'REG_DATE', 'SEX_ID', 'AGE', 'Tr_Pref_Name',
       'Tr_small_area_name', 'Translated_capsule_text',
       'Translated_genre_name', 'VIEW_COUPON_ID_hash', 'usable_date_sum',
       'view_count', 'PRICE_RATE', 'DISCOUNT_PRICE', 'VALIDPERIOD',
       'DISPPERIOD', 'PURCHASE_FLG', 'dispfrom', 'dispend', 'usable_date_mon',
       'usable_date_tue', 'usable_date_wed', 'usable_date_thu',
       'usable_date_fri', 'usable_date_sat', 'usable_date_sun',
       'usable_date_holiday', 'usable_date_before_holiday', 'Male', 'Female'],
      dtype='object')

In [ ]:
#날짜 데이터 형변환하기
X_train['REG_DATE'] = pd.to_datetime(X_train['REG_DATE'])
X_train['YEAR'] = X_train['REG_DATE'].dt.year
X_train['MONTH']=X_train['REG_DATE'].dt.month
X_train['DAY']=X_train['REG_DATE'].dt.day

In [ ]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1431337 entries, 0 to 2013762
Data columns (total 31 columns):
 #   Column                      Non-Null Count    Dtype
---  ------                      --------------    -----
 0   USER_ID_hash                1431337 non-null  object
 1   REG_DATE                    1431337 non-null  datetime64[ns, UTC]
 2   SEX_ID                      1431337 non-null  object
 3   AGE                         1431337 non-null  int64
 4   Tr_Pref_Name                1163195 non-null  object
 5   Tr_small_area_name          1431337 non-null  object
 6   Translated_capsule_text     1431337 non-null  object
 7   Translated_genre_name       1431337 non-null  object
 8   usable_date_sum             1431337 non-null  int64
 9   view_count                  1431337 non-null  int64
 10  PRICE_RATE                  1431337 non-null  int64
 11  DISCOUNT_PRICE              1431337 non-null  int64
 12  VALIDPERIOD                 1431337 non-null  int64
 13  DISPPERIOD                  1431337 non-null  int64
 14  PURCHASE_FLG                1431337 non-null  int64
 15  dispfrom                    1431337 non-null  object
 16  dispend                     1431337 non-null  object
 17  usable_date_mon             1431337 non-null  int64
 18  usable_date_tue             1431337 non-null  int64
 19  usable_date_wed             1431337 non-null  int64
 20  usable_date_thu             1431337 non-null  int64
 21  usable_date_fri             1431337 non-null  int64
 22  usable_date_sat             1431337 non-null  int64
 23  usable_date_sun             1431337 non-null  int64
 24  usable_date_holiday         1431337 non-null  int64
 25  usable_date_before_holiday  1431337 non-null  int64
 26  Male                        1431337 non-null  int64
 27  Female                      1431337 non-null  int64
 28  YEAR                        1431337 non-null  int64
 29  MONTH                       1431337 non-null  int64
 30  DAY                         1431337 non-null  int64
dtypes: datetime64[ns, UTC](1), int64(22), object(8)
memory usage: 349.4+ MB

In [ ]:
# COL_DEL=['USER_ID_hash']
# COL_DATE=['YEAR','MONTH','DAY']
# # COL_NUM=['AGE','DISCOUNT_PRICE']
# # COL_NUM = ['AGE','DISPPERIOD', 'usable_date_sum',
# #        'view_count','PRICE_RATE','DISCOUNT_PRICE','PURCHASE_FLG','VALIDPERIOD']
# COL_CAT=[ 'SEX_ID', 'Tr_Pref_Name',
#        'Tr_small_area_name', 'Translated_capsule_text',
#        'Translated_genre_name' ]
# # COL_CAT=['SEX_ID', 'Tr_Pref_Name',
# #        'Tr_small_area_name',
# #        ]
# COL_Y=['Translated_genre_name']

In [ ]:
COL_DEL=['USER_ID_hash']
COL_DATE=['YEAR','MONTH','DAY']
COL_NUM=['PURCHASE_FLG','DISCOUNT_PRICE']
COL_CAT=['SEX_ID', 'Tr_Pref_Name',
       'Tr_small_area_name',
       ]
COL_Y=['Translated_genre_name']

In [ ]:
train[COL_NUM].tail()

         PURCHASE_FLG  DISCOUNT_PRICE
2013754             0            9880
2013756             0            3990
2013758             0            7900
2013760             0            2880
2013762             0            1300

In [ ]:
from sklearn.model_selection import train_test_split
X_tr,X_val,y_tr,y_val = train_test_split(X_train[COL_NUM+COL_CAT+COL_DATE],y_train[COL_Y].values.ravel(),test_size = 0.2,stratify=y_train[COL_Y])

In [ ]:

from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

X_tr[COL_NUM] = scaler.fit_transform(X_tr[COL_NUM])
X_val[COL_NUM] = scaler.transform(X_val[COL_NUM])
X_test[COL_NUM] = scaler.transform(X_test[COL_NUM])

In [ ]:


from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()


X =pd.concat([X_train[COL_CAT],X_test[COL_CAT]])

for col in COL_CAT:
  le.fit(X[col])
  X_tr[col] = le.transform(X_tr[col])
  X_val[col] = le.transform(X_val[col])
  X_test[col] = le.transform(X_test[col])

In [ ]:
# from imblearn.over_sampling import RandomOverSampler

# # 타겟 데이터와 피처 데이터 준비

# # RandomOverSampler 객체 생성
# oversampler = RandomOverSampler()

# # 오버 샘플링 수행
# X_tr,y_tr = oversampler.fit_resample(X_tr, y_tr)

,PURCHASE_FLG,DISCOUNT_PRICE,SEX_ID,Tr_Pref_Name,Tr_small_area_name,YEAR,MONTH,DAY
1266306,-0.256181,-0.592412,1,36,0,2011,7,21
77249,-0.256181,3.444887,1,42,18,2011,1,18
1486725,3.903495,-0.486892,1,47,46,2011,6,13
1371614,-0.256181,-0.408898,1,16,22,2011,5,19
1384737,-0.256181,-0.320812,1,23,30,2011,12,2
...,...,...,...,...,...,...,...,...
1201748,-0.256181,2.068535,0,10,44,2011,5,17
852316,-0.256181,1.150967,1,47,22,2011,9,6
1087196,-0.256181,-0.684169,0,6,30,2010,11,17
1421201,-0.256181,-0.089585,0,47,3,2011,7,3
486302,-0.256181,-0.229055,0,10,3,2010,12,11

In [ ]:
# from imblearn.over_sampling import SMOTE
# smote = SMOTE(random_state = 42)
# X_tr, y_tr = smote.fit_resample(X_tr, y_tr)
# print('SMOTE 적용 전 학습용 피처/레이블 데이터 셋 :', X_tr.shape, y_tr.shape)
# # # print('SMOTE 적용 후 학습용 피처/레이블 데이터 셋 :', x_tr_over.shape, y_train_over.shape)
# print('SMOTE 적용 후 전 분포 :\n', pd.Series(y_tr).value_counts())

In [ ]:
from sklearn.ensemble import RandomForestClassifier

model_rf = RandomForestClassifier(random_state =42)
model_rf.fit(X_tr, y_tr)
print("Model training finished.")

In [ ]:
predict_rf = model_rf.predict(X_val)
from sklearn.metrics import accuracy_score
score_rf = accuracy_score(y_val,predict_rf)
print(score_rf)

In [ ]:
predict_rf_tr = model_rf.predict(X_tr)
from sklearn.metrics import accuracy_score
score_rf_tr = accuracy_score(y_tr,predict_rf_tr)
print(score_rf_tr)

In [ ]:

#최적의 파라미터 찾는 코드 - 실행시간이 너무 오래걸
# from sklearn.model_selection import RandomizedSearchCV
# from sklearn.ensemble import RandomForestClassifier

# # 데이터 준비
# X_train = X_tr
# y_train = y_tr

# # 랜덤 서치를 위한 하이퍼파라미터 분포 설정
# param_distribution = {
#     'n_estimators': [100, 200, 300],
#     'max_depth': [None, 5, 10],
#     'min_samples_split': [2, 5, 10],
#     'min_samples_leaf': [1, 2, 4],
# }

# # 모델 및 랜덤 서치 객체 생성
# model = RandomForestClassifier(random_state=42)
# random_search = RandomizedSearchCV(model, param_distribution, n_iter=10, cv=5)

# # 랜덤 서치 수행
# random_search.fit(X_train, y_train)

# # 최적의 하이퍼파라미터와 최고 성능 출력
# print("Best parameters:", random_search.best_params_)
# print("Best score:", random_search.best_score_)

In [ ]:
X_test['REG_DATE'] = pd.to_datetime(X_test['REG_DATE'])
X_test['YEAR'] = X_test['REG_DATE'].dt.year
X_test['MONTH']=X_test['REG_DATE'].dt.month
X_test['DAY']=X_test['REG_DATE'].dt.day

In [ ]:
X_test.columns

In [ ]:
pred= model_rf.predict(X_test[COL_NUM+COL_CAT+COL_DATE])
result = pd.DataFrame({'ID':X_test.USER_ID_hash,'pred':pred})
result.tail()

In [ ]:
X_test.tail()

In [ ]:
#한글깨짐
# !sudo apt-get install -y fonts-nanum
# !sudo fc-cache -fv
# !rm ~/.cache/matplotlib -rf

In [ ]:
from sklearn.metrics import  precision_score,recall_score
actual = y_val
predicted = predict_rf
accuracy = accuracy_score(actual, predicted)
print("Accuracy:", accuracy)

# 정밀도 계산
precision = precision_score(actual, predicted,average='macro')
print("Precision:", precision)

# 재현율 계산
recall = recall_score(actual, predicted,average='macro')
print("Recall:", recall)

In [ ]:
from sklearn.metrics import classification_report


# 클래스별 분류 보고서 생성
report = classification_report(actual, predicted)

# 분류 보고서 출력
print(report)

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
importances =model_rf.feature_importances_
feature_names = X_tr.columns

# 중요도를 내림차순으로 정렬하여 시각화합니다
indices = np.argsort(importances)[::-1]

In [ ]:
# 색상 맵 정의
colors = plt.cm.viridis(np.linspace(0, 1, len(feature_names)))
# 그래프 크기 설정
plt.figure(figsize=(10, 6))
# 그래프 제목 설정
plt.title("Feature Importance", fontsize=16)
# 막대 그래프 그리기
plt.bar(range(len(feature_names)), importances[indices], color=colors)
# x축 눈금과 레이블 설정
plt.xticks(range(len(feature_names)), feature_names[indices], rotation=90, fontsize=12)
# y축 레이블 설정
plt.ylabel("Importance", fontsize=14)
# 그래프 내부 여백 조정
plt.tight_layout()
# 그래프 출력
plt.show()

In [ ]:
import numpy as np
import matplotlib.pyplot as plt

# 색상 맵 정의
colors = plt.cm.viridis(np.linspace(0, 1, len(feature_names)))

# 그래프 크기 설정
plt.figure(figsize=(10, 6))

# 그래프 제목 설정
plt.title("Feature Importance", fontsize=16)

# 가로 막대 그래프 그리기
plt.barh(range(len(feature_names)), importances[indices], color=colors)

# y축 눈금과 레이블 설정
plt.yticks(range(len(feature_names)), feature_names[indices], fontsize=12)

# x축 레이블 설정
plt.xlabel("Importance", fontsize=14)

# 그래프 내부 여백 조정
plt.tight_layout()

# 그래프 출력
plt.show()